.header {
  width: 100%;
}
.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}
.main {
  display: block;
  float: left;
  width: 660px;
}
.sidemenu {
  float: left;
  width: 275px;
}
.footer {
  width: 100px;
}
.border {
  border: 2px solid blue;
  margin-bottom: 20px;
  opacity: 0.8;
}
.left {
  float: left;
  width: 100px;
  height: 100px;
  background-color: yellow;
}
.right {
  float: right;
  width: 200px;
  height: 200px;
  background-color: red;
}
.bottom{
  width: 350px;
  height: 30px;
  background-color: green;
}
.clrearfix::after {
  content:'';
  display: block;
  clear: both;
}
@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*,*::bifore, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active { 
  color: #d03c56;
  text-decoration: none;
}