.header {
  width: 100%;
  padding: 28px 0 10px;
  background: url('../images/bg-header.gif')repeat-x;
  box-shadow: 0 0 10px 1px #e3e3e3;
}
.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}
.main {
  display: block;
  float: left;
  width: 660px;
}
.sidemenu {
  float: left;
  width: 275px;
}
.footer {
  width: 100px;
}
.border {
  border: 2px solid blue;
  margin-bottom: 20px;
  opacity: 0.8;
}
.left {
  float: left;
  width: 100px;
  height: 100px;
  background-color: yellow;
}
.right {
  float: right;
  width: 200px;
  height: 200px;
  background-color: red;
}
.bottom{
  width: 350px;
  height: 30px;
  background-color: green;
}
.clrearfix::after {
  content:'';
  display: block;
  clear: both;
}

html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*,*::bifore, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active { 
  color: #d03c56;
  text-decoration: none;
}
.sample {
  background-color: transparent;
  background-image: url('sample.jpg');
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: auto auto;
  background-attachment: scroll;
}
.sample {
  background: url('sample.jpg') no-repeat;
  background-color: blue;
}
.sample {
  width: 200px;
  height: 200px;
  background: pink;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.5);
}
.sample2 {
  width: 200px;
  height: 200px;
  box-shadow: inset 0 0 10px 30px blue;
}
.logo {
  width: 225px;
  height: 56px;
  margin: 0 auto;
  background: url('../images/logo.png') no-repeat;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.box {
  margin: 20px;
}
.parent {
  background-color: yellow;
  width: 200px;
  height: 100px;
}
.child {
  background-color: pink;
  width: 50%;
  height: 50%;
  margin-top: 20px;
}
.global-nav {
  margin-top: 15px;
  text-align: center;
}
.global-nav .nav-item a:hover {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: #666;
  font-size: 1.3rem;
  background-color: #d03c56;
  letter-spacing: 1px;
}